// PARTIALS =============================
@import "./partials/setup";
@import "./partials/variables";
@import "./partials/global";
@import "./partials/visually-hidden";
@import "./partials/skip-link";
@import "./partials/mixins";


// // VARIABLES =======================
// // COLOR ------
// $color-1:  #14263d;
// $color-2: #B0ABE3;
// $color-3: #c91e8d;
// $color-4: #232323;
// $color-5:#FFFFFF;

// GENERAL BODY STYLES =======================

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Nunito', sans-serif;
    background-image: url('./assets/round.png');
    background-repeat: repeat; 
    background-attachment: fixed;  
}

img {
    width: 100%;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

// USE CAMEL CASE!! ===========================

// * {
//     border: 1px solid red;
// }

// SECTION STYLES ==============================

.header, .headerCopy, .searchSection, .resultsArea, .footer {
    padding: 3rem 0;
}

// HEADER ======================================

header{
    height: 90vh;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url("./assets/movieCollage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    align-items: center;

    // h1, p, a {
        
    // }

    .headerCopy {
        display:flex;
        flex-direction: column;
        justify-content: center;
       
    }

    .headerText {
        margin: 2rem 1rem;

        p {
            font-size: 3rem;
        }

    }

    .btn {
        display: inline-block;
        margin: 0 auto;
    }
}


//SEARCH ========================================
.searchIntro, .searchArea {
    background-color: #14263d;
    padding: 3rem 2rem; 
}

// .searchIntro {
//     // color: $color-5;
// }

.searchArea {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 

    .searchAreaImg {
            width: 40%;
            height: 100%;
            margin: 1rem 0;
    }

    .searchContainer { 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

        form {
            text-align: center;
            padding: 0 2rem;
            align-items: center;

            select, input {
                width: 80%;
                font-size: 1.6rem;
                margin: 1rem;
                padding: 1rem;
            }

            select {
                border-radius: 0;
            }

            button {
                display: inline-block;
            }
        }
        
    }

}



// RESULTS ======================================

// .resultsReturnSection {
    // display: flex;
// }

.resultsContent {
    padding: 3rem 2rem; 
    background-color: $color-1;

    .resultsInfo {
        display: flex;
        justify-content: space-between;

        .resultsText {
            padding-right: 2rem;
            width: calc(50% - 2rem);
        }

        .resultsImg {
            width: 50%;
            padding-left: 2rem;
            object-fit: cover; 
        }
    }
    
}

// FOOTER =======================================
.footer {
    text-align: center;
    background-color: $color-1;
    padding: 1rem;
}



// MEDIA QUERIES =====================
@import "./partials/media-queries";